body {
  padding: 2rem;
  margin: 0px;
}

button {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}

#artboard {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* TOOLBAR */
.toolbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.toolbar__set {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.toolbar__grid-value {
  min-width: 2rem;
}

.red-dot {
  width: 8px;
  height: 8px;
  background-color: red;
  display: block;
  border-radius: 100%;
}

.pulsing {
  animation: pulse 1s infinite linear;
}

@keyframes pulse {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 0%;
  }
}
